@font-face {
  font-family: "OpenSans-Regular";
  /*src: url("OpenSans-Regular.ttf");*/
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  /*src: url("OpenSans-Semibold.ttf");*/
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

.coloured-A { color: #F08099; }
.coloured-B { color: #00AFD1; }
.coloured-C { color: #00D18F; }
.coloured-D { color: #FBC45B; }
.coloured-E { color: #CEA2FB; }
.coloured-F { color: #d8607b; }
.coloured-G { color: #80a7e0; }
.coloured-H { color: #4bc0c0; }
.coloured-I { color: #faa376; }
.coloured-J { color: #8875b0; }
.coloured-K { color: #f0b1d8; }

html { /* Smoothens edges of fonts */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  color: #4c4c4c;
  margin: 0;
  background-color: #EDEDED;
  background-color: #ededed;
  font-family: "OpenSans-Regular";
}

#app-frame, #app-frame > div  {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-box {
  text-align: center;
  flex-grow: 1;
}

.bottom-container {
  width: 100%;
  align-self: flex-end;
}

.vote-results {
  width: 100%;
  height: 100%
}

ul {
  list-style: none;
}

.styled-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #c0c0c0;
  text-align: center;
}

.vote-box {
  float: left;
  width: 75px;
  height: 65px;
  padding: 10px;
}

.vote-box > span {
  font-size: 30px;
  font-weight: bold;
  font-family: "OpenSans-Semibold";
}

.vote-box > p {
  margin-top: 0;
  font-size: 14px;
}

.disabled { /* disabled vote-box */
  opacity:0.3;
}

.delete-answer {
  width: 30px;
  padding:5px;
  margin-top:15px;
  float: left;
}

.delete-answer:hover .delete-answer-symbol {
  background-color: #000;
}

.delete-answer-symbol {
  width: 15px;
  height: 15px;
  background-color: #808080;
  mask-image: url('../img/close.svg');
  -webkit-mask-image: url('../img/close.svg');
  margin-left: -5px;
  /*fill: #808080;*/
  transition:background-color 0.2s;
}

.delete-answer-symbol:hover {
	background-color: #F08099;
	transform: scale(0.95);
}

.answer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.edit {
  display: block;
}

.answer {
  display: inline-block;
  min-height: 46px;
  margin: 8px;
  animation:0.3s drop-intro;
}


@keyframes drop-intro {
  from {
    transform:scale(1.1);
    opacity:0;
  }
  to {
    transform:scale(1);
    opacity:1;
  }
}

.answer-letter {
  float:left;
  padding: 6px 10px;
  margin: 0px 5px;
  font-size: 30px;
  font-family: "OpenSans-SemiBold";
}

.answer-label {
  float:left;
  padding: 5px 12px 0px 0;
  margin: 8px 15px 0 0;
  /*text-align: center;*/
  font-size: 20px;
}

input.answer-label:hover {
    border-color: grey;
}

.question-title {
  width:100%;
  text-align:center;
  font-size: 52px;
  font-weight: normal;
}

.question-title:hover {
  border-color: grey;
}

.add-answer {
  width: 244px;
  height: 55px;
  background-color: transparent;
  box-shadow: none;
  border: dashed 2px lightgrey;
  color: lightgrey;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
}

.add-answer:hover {
  border-color: grey;
}

.add-answer:active {
  transform: scale(0.97);
}

.add-answer-symbol {
  width: 15px;
  height: 15px;
  background-color: ;
  mask-image: url('../img/close.svg');
  -webkit-mask-image: url('../img/add.svg');
  background-color: #808080;
  margin: auto;
  margin-top: 19px;
}

.btn {
  height: 40px;
  border: none !important;
  font-size: 14px;
  color: grey;
  margin: 5px;
  font-family: "OpenSans-Semibold";
  transition: transform 0.1s;
  float: right;
  margin-top: 45px;
}

.btn:hover:not(:disabled) {
  transform: scale(1.05);
}

.btn:hover:not(:disabled):not(.start-btn):not(.stop-btn) {
  color: #636161;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:active:not(:disabled) {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: #f5f4f4;
  color: lightgrey;
  box-shadow: 0px 1px 2px 0px;
}

.start-btn {
  background-color: #1ACB7C;
  color: white;
}

.stop-btn {
  background-color: #ff6565;
  color: white;
}

input {
  color: #4c4c4c;
  border: none;
  background: none;
  border-bottom: dashed 2px lightgrey;
  margin-bottom: 20px;
  font: 52px "OpenSans-Regular";
}

input[readonly] {
  border: none;
}

.styled-box input {
  width: 150px;
}

.animated {
  transition: all 0.1s ease;
}

.connection-status {
  width: 50px;
  height: 18px;
  position: absolute;
  left: 100%;
  margin-left: -70px;
  margin-top: 15px;
}

.connected {
  -webkit-mask-image: url('img/connected.svg');
  background-color: rgba(0, 209, 143, 0.35);

}

.disconnected {
  -webkit-mask-image: url('img/disconnected.svg');
  background-color: rgba(142, 45, 45, 0.35);
}
