@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("fonts/OpenSans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

.coloured-A { color: #F08099; }
.coloured-B { color: #00AFD1; }
.coloured-C { color: #00D18F; }
.coloured-D { color: #FBC45B; }
.coloured-E { color: #CEA2FB; }
.coloured-F { color: #d8607b; }
.coloured-G { color: #80a7e0; }
.coloured-H { color: #4bc0c0; }
.coloured-I { color: #faa376; }
.coloured-J { color: #8875b0; }
.coloured-K { color: #f0b1d8; }

html { /* Smoothens edges of fonts */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  color: #4c4c4c;
  margin: 5%;
  background-color: #ededed;
  font-family: "OpenSans-Regular";
}

#app-frame {
}

.styled-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #c0c0c0;
  text-align: center;
}

.vote-box {
  float: left;
  width: 100px;
  width: 75px;
  height: 75px;
  padding: 10px;
}

.vote-box > span {
  font-size: 30px;
  font-family: "OpenSans-Semibold";
}

.vote-box > p {
  font-size: 14px;
}

.answer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.answer {
  display: inline-block;
  min-height: 46px;
  margin: 8px;
  animation:0.3s drop-intro;
}

@keyframes drop-intro {
  from {
    transform:scale(1.1);
    opacity:0;
  }

  to {
    transform:scale(1);
    opacity:1;
  }
}

.answer-letter {
  display: inline-block;
  padding: 6px 10px;
  margin: 0px 5px;
  font-size: 30px;
  font-family: "OpenSans-SemiBold";
}

.answer-label {
  display: inline-block;
  vertical-align: bottom;
  padding: 15px 12px 12px 0;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
}

.question-title {
  width:100%;
  text-align:center;
  font-size: 52px;
  font-weight: normal;
}

.question-box {
  text-align: center;
  margin: 50px;
}

.create-quiz-button {
  background-color: transparent;
  box-shadow: none;
  border: dashed 2px lightgrey;
  color: lightgrey;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
}

.btn {
  float: right;
  height: 40px;
  border: none;
  font-size: 14px;
  color: grey;
  margin: 5px;
  font-family: "OpenSans-Semibold";
  transition: transform 0.2s;
}

.btn:hover:not(:disabled) {
  transform: scale(1.05);
}

.btn:disabled {
  background-color: #f5f4f4;
  color: lightgrey;
  box-shadow: 0px 1px 2px 0px;
}

.start-btn {
  background-color: #1ACB7C;
  color: white;
}

.stop-btn {
  background-color: #ff6565;
  color: white;
}

input {
  background-color: transparent;
}

input[readonly] {
  border: 2px solid transparent;
}
